@model PermisoViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Tittle"] = "Dar Acceso a Categorias";
}
<div class="content-wrapper" style="min-height: 519px;">
    <h2>Asignar Categoria</h2>
    <!--
    <form asp-action ="Insert" method="post" >
        <div class="form-group">
            <label asp-for="idcategoria">Codigo de la Categoria</label>
            <input class="form-control" type="text" asp-for="idcategoria" required/>
        </div>
        <div class="form-group">
            <label asp-for="idusuariopermitido">Codigo del Usuario</label>
            <input class="form-control" type="text" asp-for="idusuariopermitido" required/>
        </div>
        <button class="btn btn-outline-success" type="submit">Dar permiso a la Categoria</button>
    </form>
    -->
</div>