@model PermisoViewModel 
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Tittle"] = "Invitacion a Grupo";
}
<div class="content-wrapper" style="min-height: 519px;">
    <h2>Nueva Categoria</h2>
    <form asp-action ="Insert" method="post" >
       
        <div class="form-group">
            <label asp-for="idcategoria">Nombre de la Categoria</label>
            <input class="form-control" type="text" asp-for="idcategoria" required/>
        </div>

        <div class="form-group">
            <label asp-for="idusuariopermitido">Usuario a Conceder Acceso</label>
            <input class="form-control" type="text" asp-for="idusuariopermitido" required/>
        </div>

        <button class="btn btn-outline-success" type="submit">Dar Acceso</button>
    </form>
</div>