@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Tittle"] = "RegistroTarea";
}
@model TareasViewModel
<div class="content-wrapper" style="min-height: 519px;">
    <h2>Nueva Tarea</h2>
 <!-- 
    <form asp-action ="Insert" method="post">
        <div class="form-group">
            <label asp-for="fechainicio">Fecha de Asignacion</label>
            <input class="form-control" type="datetime" asp-for="fechainicio" required/>
        </div>
        
        <div class="form-group">
            <label asp-for="prioridad">Tipo de Usuario</label>
            <select class="form-control" asp-for="tipousuario">
                <option class="form-control" value="1" asp-for="prioridad">Urgente</option>
                <option class="form-control" value="2" asp-for="prioridad">Medio</option>
                <option class="form-control" value="3" asp-for="prioridad">Bajo</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="descripcion">Nombre</label>
            <input class="form-control" type="text" asp-for="nombre" required/>
        </div>
        <div class="form-group">
            <label asp-for="archivado">Apellidos</label>
            <input class="form-control" type="text" asp-for="apellido" required/>
        </div>
        <div class="form-group">
            <label asp-for="idusuariocreador">Apellidos</label>
            <input class="form-control" type="text" asp-for="apellido" required/>
        </div>
        <div class="form-group">
            <label asp-for="idusuarioasignado">Apellidos</label>
            <input class="form-control" type="text" asp-for="apellido" required/>
        </div>
        

        <div class="form-group">
            <label asp-for="idcategoriatarea">Apellidos</label>
            <input class="form-control" type="text" asp-for="apellido" required/>
        </div>
        <button class="btn btn-outline-success" type="submit">Crear Usuario</button>
    </form>
-->
</div>