@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Home Page";
}
<!--PAGINA PRINCIPAL-->
<div class="content-wrapper">
    <div class="content-header"> <h1>Bienvenido</h1> </div>
    
    <p>Administrador de Tareas para usted y sus compañeros</a>.</p>
    <!--BOTONES PARA REGISTRARSE Y LOGEARSE-->

<!--AREA PARA PONER LAS CAJITAS DE FORMA LATERAL-->
<div class="row">
<!--CAJITA DE REGISTRO-->
<div class="col-lg-3 col-6">
<div class="small-box bg-success">
<div class="inner">
<p>Eres Nuevo?</p>
</div>
<div class="icon">
<i class="ion ion-stats-bars"></i>
</div>
<a class="small-box-footer" asp-area="" asp-controller="Login" asp-action="Registrarse">Registrarse <i class="fas fa-arrow-circle-right"></i></a>
</div>
</div>
<!--CAJITA DE REGISTRO-->
<!--CAJITA DE LOGIN-->
<div class="col-lg-3 col-6">
<div class="small-box bg-warning">
<div class="inner">
<p>Ya estas registrado?</p>
</div>
<div class="icon">
<i class="ion ion-person-add"></i>
</div>
<a class="small-box-footer"asp-area="" asp-controller="Login" asp-action="Index">Entrar <i class="fas fa-arrow-circle-right"></i></a>
</div>
</div>
<!--CAJITA DE LOGIN-->
</div>
<!--AREA PARA PONER LAS CAJITAS DE FORMA LATERAL-->
</div>